$dark-gray: #777;

$primary-color-x-light: #ffe3e3;
$primary-color-light: #eebfbf;
$primary-color: #eaafaf;
$primary-color-dark: #d29d9d;

$secondary-color-light: #b48fa3;
$secondary-color: #a2738c;
$secondary-color-dark: #91677e;

$tertiary-color-light: #837c9c;
$tertiary-color: #645c84;
$tertiary-color-dark: #504969;

$quaternary-color-light: #6793ab;
$quaternary-color: #427996;
$quaternary-color-dark: #346078;